{% extends 'layout.html' %}

{% block title %} My-Lists {% endblock %}

{% block styles %}
.table-scrollable {
  overflow-x: auto;
  max-width: 600px;
  box-shadow: inset 0 0 5px rgba(150, 150 ,150,0.35);
  margin: auto;
}
{% endblock %}

{% load static %}

{% block content %}
  <section class="container my-5 bg-light">
    <div class="p-2">
      <p class="text-center fw-bold display-3 text-dark">{{list.list_name}}</p>
      <p class="text-end me-5"><span class="text-success">Owned By:</span> {{list.owner}}</p>
    </div>
    <div class="my-5 bg-light">
      <table class="m-auto table table-striped table-hover table-responsive">
        <thead class="bg-primary">
          <tr class="text-white">
            <th scope="col">Title</th>
            <th scope="col">Added By</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in list_items %}
          <tr>
            <td style="word-wrap: break-word;min-width: 100px;max-width: 160px;">{{item.title}}</td>
            <td>{{ item.contributor }}</td>
            <td>
              {% if item.is_done is False %}
                <img src="{% static 'images/notDone.gif' %}" alt="Not done icon." height="30px" width="30px" class="d-inline">
              {% else %}
                <img src="{% static 'images/done.gif' %}" alt="done icon." height="30px" width="30px" class="d-inline">
              {% endif %}
            </td>
            <td>
              <form clas="d-inline" action="{% url 'theList' list.list_name %}" method="post">
                {% csrf_token %}
                {% if item.is_done is False %}
                  <input type="text" value="{{ item.title }}" class="d-none" name="title">
                  <input type="text" value="done" class="d-none" name="action"> 
                  <input type="submit" value="DONE" class="btn btn-sm btn-success">
                {% else %}
                  <input type="text" value="{{ item.title }}" class="d-none" name="title">
                  <input type="text" value="undo" class="d-none" name="action"> 
                  <input type="submit" value="UNDO" class="btn btn-sm btn-danger">
                {% endif %}
              </form>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4">
              <form action="{% url 'theList' list.list_name %}" method="post">
              {% csrf_token %}
                <input type="text" name="task" class="form-control" placeholder="Enter new task">
                <input type="submit" value="ADD" class="my-2 btn btn-md btn-warning">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-light my-5 p-3">
      <p class="fs-2 lead">
        Contributors of this list:
      </p>
      <div>
        <ul>
          {% if user != list.owner %}
          <li>{{user.username}}</li>
          {% endif %}
        </ul>
      </div>
      <form action="" class="form-inline">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Add a contributor</label>
          <input type="text" name="newContri" class="form-control" placeholder="Enter username of contributor">
          <input type="submit" value="Add Contributor" class="my-2 btn btn-md btn-outline-primary">
        </div>
      </form>
    </div>
  </section>
{% endblock %}