{% extends 'layout.html' %}

{% block title %} My-Lists {% endblock %}

{% block styles %}
.table-scrollable {
  overflow-x: auto;
  max-width: 600px;
  box-shadow: inset 0 0 5px rgba(150, 150 ,150,0.35);
  margin: auto;
}
{% endblock %}

{% load static %}

{% block content %}
  <section class="container my-5 bg-light">
    <div class="text-center p-2">
      <p class="fw-bold display-3 text-dark">ListName</p>
    </div>
    <div class="my-5 bg-light">
      <table class="m-auto table table-striped table-hover table-responsive">
        <thead class="bg-primary">
          <tr class="text-white">
            <th scope="col">Title</th>
            <th scope="col">Added By</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">List-Item Title</td>
            <td>username of adder</td>
            <td>
              <img src="{% static 'images/notDone.gif' %}" alt="Not done icon." height="30px" width="30px" class="d-inline">
              <form clas="d-inline" action="" method="post">
                {% csrf_token %}
                <input type="text" value="done" class="d-none" name="action"> 
                <input type="submit" value="DONE" class="btn btn-sm btn-success">
              </form>
            </td>
            <td>
              <form action="" method="post">
                {% csrf_token %}
                <input type="text" value="done" class="d-none" name="action"> 
                <input type="submit" value="DONE" class="btn btn-sm btn-success">
              </form>
            </td>
          </tr>
          <tr>
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">List-Item Title</td>
            <td>username of adder</td>
            <td><img src="{% static 'images/done.gif' %}" alt="Not done icon." height="30px" width="30px"></td>
            <td>
              <form action="" method="post">
                {% csrf_token %} 
                <input type="text" value="undo" class="d-none" name="action">
                <input type="submit" value="UNDO" class="btn btn-sm btn-danger">
              </form>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="">
              <form action="" class="d-inline" method="post"></form>
              {% csrf_token %}
                <input type="text" name="task" class="form-control" placeholder="Enter new task">
                <input type="submit" value="ADD" class="my-2 btn btn-md btn-warning">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-light my-5 p-3">
      <p class="fs-2 lead">
        Contributors of this list:
      </p>
      <div>
        <ul>
          <li>user1</li>
          <li>user2</li>
        </ul>
      </div>
      <form action="" class="form-inline">
        <div class="input-group">
          <input type="text" class="from-control" name="newContributor" placeholder="Enter username of contributor">
          <input type="submit" value="Add Contributor" class="mx-2 my-2 btn btn-md btn-outline-primary">
        </div>
      </form>
    </div>
  </section>
{% endblock %}