{% extends 'layout.html' %}

{% block title %} My-Lists {% endblock %}

{% load static %}

{% block content %}
  <section class="container my-5 bg-light">
    <div class="text-center">
      <p class="fw-bold display-3 text-dark">[username]'s lists</p>
    </div>
    <div class="row my-5 border-end bg-light p-2">
      <div class="card bg-light">
        <div class="card-header text-end">
          <span class="text-warning">Last Edited:</span> Time and Date
        </div>
        <div class="card-body">
          <h5 class="card-title">List Name</h5>
          <p class="card-text lead">List Description</p>
          <a href="#" class="btn btn-success">Go to the list</a>
        </div>
      </div>
    </div>
    <div class="row my-5 border-end bg-light p-2">
      <div class="card bg-light">
        <div class="card-header text-end">
          <span class="text-warning">Last Edited:</span> Time and Date
        </div>
        <div class="card-body">
          <h5 class="card-title">List Name</h5>
          <p class="card-text lead">List Description</p>
          <a href="#" class="btn btn-success">Go to the list</a>
        </div>
      </div>
    </div>
    <div class="row my-5 border-end bg-light p-2">
      <div class="card bg-light">
        <div class="card-header text-end">
          <span class="text-warning">Last Edited:</span> Time and Date
        </div>
        <div class="card-body">
          <h5 class="card-title">List Name</h5>
          <p class="card-text lead">List Description</p>
          <a href="#" class="btn btn-success">Go to the list</a>
        </div>
      </div>
    </div>
    <div class="row my-5 border-end bg-light p-2">
      <div class="card bg-light">
        <div class="card-header text-end">
          <span class="text-warning">Last Edited:</span> Time and Date
        </div>
        <div class="card-body">
          <h5 class="card-title">List Name</h5>
          <p class="card-text lead">List Description</p>
          <a href="#" class="btn btn-success">Go to the list</a>
        </div>
      </div>
    </div>
    <div class="row my-5 border-end bg-light p-2">
      <div class="card bg-light">
        <div class="card-header text-end">
          <span class="text-warning">Last Edited:</span> Time and Date
        </div>
        <div class="card-body">
          <h5 class="card-title">List Name</h5>
          <p class="card-text lead">List Description</p>
          <a href="#" class="btn btn-success">Go to the list</a>
        </div>
      </div>
    </div>
    <div class="row my-5 border-end bg-light p-2">
      <div class="card bg-light">
        <div class="card-header text-end">
          <span class="text-warning">Last Edited:</span> Time and Date
        </div>
        <div class="card-body">
          <h5 class="card-title">List Name</h5>
          <p class="card-text lead">List Description</p>
          <a href="#" class="btn btn-success">Go to the list</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}