{% extends 'layout.html' %}

{% load static %}

{% block title %}Forgot Password {% endblock %}

{% block content %}
  <section class="container my-5 p-4"> 
    <div class="jumbotron text-center">
      <h1 class="display-4">Sorry! Looks like you are not an intended user for this website!</h1>
      <p class="lead my-5">You can brute-force various login combinations but passwords are 12 characters long application-wide. So, Good Luck!</p>
      <hr class="my-4">
      <p>Sorry again for wasting your time!</p>
      <a class="btn btn-primary btn-lg" href="{% url 'homepage' %}" role="button">Take Me Back</a>
    </div>
  </section>
{% endblock %}